// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar {
  max-width: 65%;
  margin: 0 auto;
}

.tooltip{
  margin-bottom: 10px;
  margin-top: 3px;
}

.tooltipTitle{
  margin-bottom: 6px;
  margin-top: 6px;
}